body {
 font-family: Arial, sans-serif;
 margin: 20px;
 background-color: #FFFFFF; /* Weißer Hintergrund */
 color: #000000; /* Schwarzer Text */
}
header {
 background-color: #004E95; /* Arminia-Blau */
 color: white;
 padding: 20px;
 text-align: center;
}
nav ul {
 list-style: none;
 padding: 0;
 display: flex;
 justify-content: center;
 gap: 20px;
}
nav a {
 color: white;
 text-decoration: none;
 font-weight: bold;
}
section {
 background: #F5F5F5; /* Hellgrauer Hintergrund für Abschnitte */
 padding: 20px;
 margin: 20px 0;
 border-radius: 8px;
}
img {
 margin-top: 10px;
 max-width: 100%;
 height: auto;
jh {
 margin-top: 1px;
 max-width: 10%;
 height: auto;
}
footer {
 text-align: center;
 margin-top: 40px;
 font-size: 0.9em;
 color: #777;
}
header {
 background-color: #004E95; /* Arminia-Blau */
 color: white;
 padding: 20px;
 text-align: center;
 position: relative;
}
.logo {
 position: absolute;
 top: 20px;
 right: 20px;
 width: 80px;
 height: auto;
}
.accordion {
  background-color: #004E95;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.3s;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
}

.accordion:hover {
  background-color: #003870;
}

.panel {
  padding: 0 15px;
  background-color: #F5F5F5;
  display: none;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 4px;
}

.panel p {
  margin: 10px 0;
}
